# Default owners of the repository
* @kazydek @klaudiagrz @tomekpapiernik @dpolitesap

# Owners of the manifesto-app folder
/manifesto-app/ @akucharska @michal-hudy @pkosiec @mjasinski5 @derberg @magicmatatjahu

# Owners of the sig-core folder
/sig-and-wg/sig-core/ @PK85 @mszostok @Abd4llA @derberg

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @dpolitesap

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @akucharska @michal-hudy @pkosiec @mjasinski5 @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @akucharska @michal-hudy @pkosiec @mjasinski5 @derberg @magicmatatjahu