# Default owners of the repository
* @kyma-project/technical-writers

# Owners of the sigs-and-wgs folder
/sigs-and-wgs/ @kyma-project/kyma-steering-committee

# Owners of all .md files in the repository
*.md @kyma-project/technical-writers

# Owners of the .kyma-project-io folder
/.kyma-project-io/ @kyma-project/Hasselhoff

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @kyma-project/Otters

# Concepts (features, architecture)
/concepts/ @kyma-project/kyma-steering-committee @k15r @janmedrek @kwiatekus @tobiscr @anishj0shi

/concepts/observability-strategy @kyma-project/observability

/docs/contributing/assets/allowed_actions.json @TorstenD-SAP
